.robot {
    position: absolute;
    pointer-events: none;
    /* cf: padding pour à la maison: */
    padding-top: 176px;
    /* Animation fluide sur 600ms = intervalle de l'animation */
    /* transition: left 0.6s linear, top 0.6s linear; */
    /* transition: all 0.6s linear; */
    text-align: center !important;
}

.robot-label {
    font-weight: bold;
    font-size: 7px;
    /* couleur pas défaut */
    color: orangered;
    width: 50px;
}

.robot-batterie-label {
    font-weight: bold;
    font-size: 7px;
    /* couleur pas défaut */
    color: #000000;
    width: 50px;
}
