.game {
    position: relative;
    display: flex;
    pointer-events: none;
    background-color: #ffae2b;
    width: fit-content;
    height: auto;
}

.table-game {
    position: relative;
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
}

.buttons {
    background-color: #752713;
}

.start-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.pause-button {
    padding-top: 20px;
}

.robot-liste-infos {
    display: grid;
}

.robot-card {
    background: wheat;
}
