.main {
    display: flex;
    justify-content: center; /* avec flex, pour centrer les éléments contenus*/
    background-color: darkgrey;
}

.content {
    position: relative; /* nécessaire pour avoir des div superposées */
    background-color: #752713;
    text-align: center;
    color: #0071e6;
    width: auto;
}

.game-container {
    display: grid;
    grid-template-areas: "overlap";
}

.robot-view-container {
    grid-area: overlap; /* important pour la disposition du robot */
    width: 50px;
    height: 50px;
    /* background-color: red; */ /* pour tests */
    /* border-radius: 50%; */
}

.buttons {
    background-color: #752713;
}

.start-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.pause-button {
    margin-top: 20px;
    padding-bottom: 10px;
}
