.main {
    display: flex;
    justify-content: center; /* avec flex, pour centrer les éléments contenus*/
    background-color: darkgrey;
}

.content {
    background-color: #752713;
    text-align: center;
    color: #0071e6;
}

.start-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

.pause-button {
    margin-top: 20px;
    padding-bottom: 10px;
}
