<div class="main">
  <div class="content">

    <div>
      <img src="/assets/texture-non-visitee.png" alt='O' />
      <img src="/assets/texture-mur.png" alt='X' />
      <img src="/assets/texture-base.png" alt='B' />
      <img src="/assets/texture-visitee.png" alt='_' />
      <img src="/assets/megaman.png" style="background-image: url('/assets/texture-non-visitee.png');" alt='R' />
    </div>

    <h1>Aspiro-Man</h1>

    <div class="game-container">

      <app-maison></app-maison>

      <!-- TODO: pour l'intro: condition d'affichage du robot, toujours présent actuellement -->
      <div class="robot-view-container" [@moveRobot1]="{ value: moveTrigger1, params: { x: aspiroX1, y: aspiroY1 } }">
        <!-- (click)="toggleAnimation()" -->
        <app-robot-aspirator [positionInput]="currentRobotPosition()" [lastPositionInput]="currentRobotLastPosition()"
          (robotUpdate)="handleRobotUpdate($event)" [batterie]="currentRobotBatterie()"></app-robot-aspirator>
        <p style="font-weight:bold; font-size:8px; color:orangered;">AspiroMan 1</p>
      </div>
      <div class="robot-view-container" [@moveRobot2]="{ value: moveTrigger2, params: { x: aspiroX2, y: aspiroY2 } }">
        <app-robot-aspirator [positionInput]="currentRobotPosition()" [lastPositionInput]="currentRobotLastPosition()"
          [batterie]="currentRobotBatterie()"></app-robot-aspirator>
        <p style="font-weight:bold; font-size:8px; color:yellow;">AspiroMan 2</p>
      </div>
    </div>

    <div class="buttons">
      <form (ngSubmit)="startRobot()" #maisonForm="ngForm">
        <div class="start-button">
          <button type="submit">Start</button>
        </div>
      </form>
      <form (ngSubmit)="pauseRobot()" #maisonForm="ngForm">
        <div class="pause-button">
          <button type="submit">Pause</button>
        </div>
      </form>
    </div>
  </div>

  <app-messages></app-messages>

</div>
