h1 {
    text-align: center;
}

.content {
    background-color: #dfd0d0;
    /* display: flex;
    align-items: flex-start;
    justify-content: space-around; */
    color: #752713;
    width: 100%;
    /* max-width: 700px; modif */
    /* margin-bottom: 3rem; */
}

.maison {
    background-color: #ffae2b;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;    
    /* color: #752713; */
    width: 100%;
    /* max-width: 700px; modif */
    /* margin-bottom: 3rem; */
}

.start-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.pause-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

/* .p-datatable-tbody > tr > td {
    text-align: end;
    border-color: var(--p-datatable-body-cell-border-color);
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: var(--p-datatable-body-cell-padding);
} */


.cellsRowMaison {
    background: rgb(0, 140, 133);
}

.cellMaison {
    text-align: center;
    border-style: none;
    /* padding: inherit; */
}