<div class="content">
  <div class="maison">
    <div *ngFor='let row of maison' @maisonAnimation>
      <div *ngFor='let cell of row'>{{cell.type}}</div>
    </div>
  </div>
  <div>
    <form (ngSubmit)="startRobot()" #maisonForm="ngForm">
      <div class="start-button">
        <button type="submit">Start</button>
      </div>
    </form>
    <form (ngSubmit)="pauseRobot()" #maisonForm="ngForm">
      <div class="pause-button">
        <button type="submit">Pause</button>
      </div>
    </form>
  </div>
</div>

<div>
  <app-messages></app-messages>
</div>