h1 {
    text-align: center;
}

.content {
    background-color: #752713;
    text-align: center;
    color: #0071e6;
    width: 100%;
}

.buttons {
    background-color: #752713;
    text-align: center;
    color: #0071e6;
    width: 100%;
}

.maison {
    background-color: #ffae2b;
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}

.table-maison {
    position: absolute;
    padding-top: 8vh;
}

.tr-maison {
    background: rgb(0, 140, 133);
}

.tr-robot {
    background: none;
}

.td-maison {
    width: 50px;
    height: 50px;
    text-align: center !important;
    border-color: var(--p-datatable-body-cell-border-color); /* test d'une surcharge non prise en compte, ici, car pas !important */
    border-width: 0 0 0px 0 !important;
    border-style: none !important;
    padding: 0rem .1rem !important;
}

.start-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pause-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

