h1 {
    text-align: center;
}

.content {
    background-color: #752713;
    text-align: center;
    /* display: flex;
    align-items: flex-start;
    justify-content: space-around; */
    color: #0071e6;
    width: 100%;
    /* max-width: 700px; modif */
    /* margin-bottom: 3rem; */
}

.maison {
    background-color: #ffae2b;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;    
    /* color: #752713; */
    width: 100%;
    /* max-width: 700px; modif */
    /* margin-bottom: 3rem; */
}

.start-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.pause-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.cellsRowMaison {
    background: rgb(0, 140, 133);
}

/* utilisation de !important, sinon pas de surcharge du css de primeng */
::ng-deep .p-datatable-tbody > tr > td {
    text-align: center !important;
    border-color: var(--p-datatable-body-cell-border-color); /* test d'une surcharge non prise en compte, ici, car pas !important */
    border-width: 0 0 0px 0 !important;
    border-style: none !important;
    padding: 0rem .1rem !important;
}