<div>
<img src="/assets/texture-non-visitee.png"/>
<img src="/assets/texture-mur.png"/>
<img src="/assets/texture-base.png"/>
<img src="/assets/texture-visitee.png"/>
<img src="/assets/megaman.png"/>
</div>
<h1>Aspiro-Man</h1>
<div class="content">
  <!-- <div class="maison">
    <div *ngFor='let row of MaisonView' @maisonAnimation>
      <div *ngFor='let cell of row'>
        <img *ngIf="cell.type === 'O'" src="/assets/texture-non_visitee.png"/>
        <img *ngIf="cell.type === 'X'" src="/assets/texture-mur.png"/>
        <img *ngIf="cell.type === 'B'" src="/assets/texture-base.png"/>
        <img *ngIf="cell.type === '_'" src="/assets/texture-visitee.png"/>
        <img *ngIf="cell.type === 'N'" src="/assets/robot-chevalier.png"/>
        <ng-template #noImage>{{cell.type}}</ng-template></div>
    </div>
  </div> -->

  <div class="maison">
    <p-table [value]="MaisonView" @maisonAnimation>
      <ng-template pTemplate="body" let-rowData>
        <tr class="cellsRowMaison">
          <td *ngFor="let cell of rowData">
            <img *ngIf="cell.type === 'O'" src="/assets/texture-non-visitee.png" alt='O'/>
            <img *ngIf="cell.type === 'X'" src="/assets/texture-mur.png" alt='X'/>
            <img *ngIf="cell.type === 'B'" src="/assets/texture-base.png" alt='B'/>
            <img *ngIf="cell.type === '_'" src="/assets/texture-visitee.png" alt='_'/>
            <img *ngIf="cell.type === 'N'" src="/assets/megaman.png" alt='N'/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <form (ngSubmit)="startRobot()" #maisonForm="ngForm">
    <div class="start-button">
      <button type="submit">Start</button>
    </div>
  </form>
  <form (ngSubmit)="pauseRobot()" #maisonForm="ngForm">
    <div class="pause-button">
      <button type="submit">Pause</button>
    </div>
  </form>

</div>

<div>
  <app-messages></app-messages>
</div>
