<div class="game-container">

  <div class="maison">
    <p-table [value]="maisonViewModel().maison" @maisonAnimation class="table-maison" cellspacing="0" cellpadding="0">
      <ng-template pTemplate="body" let-rowData>
        <tr class="tr-maison">
          @for (cellElement of rowData; track cellElement) {
          <td class="td-maison">
            @if (cellElement.type === 'O') {
            <img src="/assets/texture-non-visitee.png" alt='O' />
            }
            @if (cellElement.type === 'X') {
            <img src="/assets/texture-mur.png" alt='X' />
            }
            @if (cellElement.type === 'B') {
            <img src="/assets/texture-base.png" alt='B' />
            }
            @if (cellElement.type === '_') {
            <img src="/assets/texture-visitee.png" alt='_' />
            }
          </td>
          }
        </tr>
      </ng-template>
    </p-table>

    <canvas #maisonCanvas class="table-maison" width="500" height="400"></canvas>
  </div>
</div>
