/* .content { */
.game-container {
    background-color: #752713;
    text-align: center;
    color: #0071e6;
    width: 100%;
}

.maison {
    position: relative;
    display: flex;
    pointer-events: none;
    background-color: #ffae2b;
    /* crée une marge sous la maison : */
    height: 500px;
}

.table-maison {
    position: absolute;
    padding-top: 50px;
}

.tr-maison {
    background: rgb(0, 140, 133) !important;
}

.tr-robot {
    background: none;
}

.td-maison {
    width: 50px;
    height: 50px;
    text-align: center !important;
    /* test d'une surcharge non prise en compte, ici, car pas !important : */
    border-color: var(--p-datatable-body-cell-border-color);
    border-width: 0 0 0px 0 !important;
    border-style: none !important;
    padding: 0rem 0.5rem !important;
}
