.maison {
    position: relative;
    display: flex;
    pointer-events: none;
    background-color: #ffae2b;
    width: fit-content;
    height: auto;
}

.table-maison {
    position: relative;
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
}
