<div class="main">
    <div class="content">

        <div>
            <img src="/assets/texture-non-visitee.png" alt='O' />
            <img src="/assets/texture-mur.png" alt='X' />
            <img src="/assets/texture-base.png" alt='B' />
            <img src="/assets/texture-visitee.png" alt='_' />
            <img src="/assets/megaman.png" style="background-image: url('/assets/texture-non-visitee.png');" alt='R' />
        </div>

        <h1>Aspiro-Man</h1>

        <app-maison></app-maison>

        @for (robotName of robotNames(); track robotName) {
        <app-robot-aspirator [robotNameInput]="robotName">
        </app-robot-aspirator>
        }

        <div class="buttons">
            <form (ngSubmit)="start()" #maisonForm="ngForm">
                <div class="start-button">
                    <button type="submit">Start</button>
                </div>
            </form>
            <form (ngSubmit)="pause()" #maisonForm="ngForm">
                <div class="pause-button">
                    <button type="submit">Pause</button>
                </div>
            </form>
        </div>

        <app-messages></app-messages>

    </div>
</div>

<div class="maison-container"><!-- TODO: utiliser classe maison-container ?? -->
    <h2>Main Test Signaux avec {{ robotViewModelTab.length }} robots</h2>

    <!-- @for (robot of robotViewModelTab; track robot) {
    <div class="robot-card">
        @if (getRobotDataView(robot.robotName)(); as robot) {
        <h3>🤖 {{ robot.robotName }}</h3>
        <div class="robot-info">
            <p>🔋 Batterie: {{ robot.batterie }}%</p>
            <p>📍 Last Position: ({{ robot.lastPosition.x }}, {{ robot.lastPosition.y }})
            <p>📍 Position: ({{ robot.position.x }}, {{ robot.position.y }})
            </p>
            <p>📍 Coordinate: ({{ robot.coordinate.x }}, {{ robot.coordinate.y }})
            </p>
            <p>⚡ Status: {{ robot.batterie > 0 ? 'Actif' : 'Inactif' }}</p>
        </div>
        } @else {
        <p>⚠️ Robot {{ robot }} non trouvé</p>
        }
    </div>
    } -->
</div>